#bodyContainer {
    border: 1px black solid;
    padding: 20px;
}

#slideshow {
    position: relative;
    border: 1px black solid;
    width: 600px;
    /* height: 300px; */
    padding: 5px;    
}

.slide {
    display: none;
}

.slide img {
    width:100%;
    height:100%;
}

#NextImg, #PrvImg {
    position: absolute;
    top: 30%;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(160, 160, 160, 0.493);
    border-radius: 50%;
    width:50px;
    height:50px;
    padding-bottom: 15px;
}

#NextImg {
    right: 0%;
}

#PrvImg {
    left: 0%;
}